


/node_modules/

/node_modules/**/*
/healthCenterManagementSystem/node_modules/
/healthCenterManagementSystem/node_modules/**/*
/healthCenterManagementSystem/vendor/


bootstrap/cache/*

vendor/


npm-debug.log

.env

.env.backup

