/* app.css */


/* General resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Primary color palette */

 :root {
    --dark-blue: #546A7B;
    --light-blue: #62929E;
    --light-grey: #C6C5B9;
    --off-white: #FDFDFF;
}


/* Background colors */

body {
    background-color: var(--off-white);
}


/* Sidebar styles */

nav.sidebar {
    background-color: var(--dark-blue);
    color: var(--off-white);
}

nav.sidebar a {
    color: var(--off-white);
    transition: color 0.3s ease;
}

nav.sidebar a:hover {
    color: var(--light-blue);
}


/* Sidebar user info */

nav.sidebar .text-center {
    border-bottom: 1px solid var(--light-grey);
}


/* Medicine cards */

.medicine-info {
    color: var(--dark-blue);
}

.medicine-list {
    padding: 15px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Card images */

.card img {
    transition: opacity 0.3s ease;
}

.card img:hover {
    opacity: 0.8;
}


/* Text colors */

.card-title,
.card-text {
    color: var(--dark-blue);
}

.card-text .text-danger {
    color: #ff0000;
}


/* Responsive design */

@media (max-width: 768px) {
    nav.sidebar {
        width: 100%;
        height: auto;
    }
    .card {
        max-width: 100%;
    }
}


/* Additional responsive adjustments */

@media (max-width: 576px) {
    .row {
        flex-direction: column;
    }
    .medicine-list {
        height: auto;
        overflow-y: initial;
    }
    .card {
        display: block;
        margin-bottom: 20px;
    }
}


/* Scrollable container */

.scrollable-container {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--off-white);
}


/* Custom scrollbar for Webkit browsers */

.scrollable-container::-webkit-scrollbar {
    width: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: var(--off-white);
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 20px;
    border: 3px solid var(--off-white);
}